.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 3%;
  margin: auto;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 2%;
  color: #333;
  text-align: center;
}

button {
  padding: 2% 4%;
  margin-top: 5%;
  font-size: 1em;
  color: black;
  background-color: #fff;
  border: 1px solid #a8e08f;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a0f27a;
  color: #fff;
}

.logo {
  width: 10%;
  height: auto;
  margin-bottom: 5%;
}
