.container {
  width: 100%;
  max-width: 700px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2%;
  box-sizing: border-box;
  margin: 2% 0;
  text-align: center;
}

h3 {
  font-size: 1.3em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 100;
  color: #333;
  margin-bottom: 5%;
}

.button {
  display: block;
  width: 80%;
  padding: 0.5em;
  margin: 2% auto;
  font-size: 1em;
  color: #fff;
  background-color: #7db7f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.button:hover {
  background-color: #bcdaf8;
  transform: scale(1.05);
}

.correct {
  background-color: #d4edda !important;
  color: #155724 !important;
  cursor: default !important;
}

.incorrect {
  background-color: #f8d7da !important;
  color: #721c24 !important;
  cursor: default !important;
}
