button {
  margin: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.correct {
  background: green;
  color: white;
}

.incorrect {
  background: red;
  color: white;
}

button:hover:not(.correct):not(.incorrect) {
  background-color: #0056b3;
}
